<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>
<div class=" col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail pizza-card">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">

        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption">
            <div class="title" style="text-align: left;font-size: 17px"><%= pizza.title %></div>
            <div class="type" style="text-align: left;font-size: 17px"><%= pizza.type %></div>
            <div class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
            <div class="row">
                <%if((pizza.small_size!=undefined)&&(pizza.big_size!=undefined)){%>
                <div class="col-sm-6 col-md-6 col-xs-6 small-pizza" >
                    <div>
                        <img src="assets/images/size-icon.svg" class="img size">
                        <span class="diagonal"><%= pizza.small_size.size%></span>
                    </div>
                    <div>
                        <img src="assets/images/weight.svg" class="img size">
                        <span class="diagonal weight"><%= pizza.small_size.weight%></span>

                    </div>
                    <h2><%= pizza.small_size.price%>
                        <div style="font-size: 15px">грн.</div>
                    </h2>
                    <div type="button" class="btn btn-warning buy-small">Купити</div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6 big-pizza" >
                    <div>
                        <img src="assets/images/size-icon.svg" class="img size">
                        <span class="diagonal"><%= pizza.big_size.size%></span>
                    </div>
                    <div>
                        <img src="assets/images/weight.svg" class="img size">
                        <span class="diagonal weight"><%= pizza.big_size.weight%></span>

                    </div>
                    <h2><%= pizza.big_size.price%>
                        <div style="font-size: 15px">грн.</div>
                    </h2>
                    <div type="button" class="btn btn-warning buy-big">Купити</div>
                </div>
                <%} else if(pizza.small_size!=undefined){%>
                <div class="col-sm-12 col-md-12 col-xs-12 small-pizza" >
                    <div>
                        <img src="assets/images/size-icon.svg" class="img size">
                        <span class="diagonal"><%= pizza.small_size.size%></span>
                    </div>
                    <div>
                        <img src="assets/images/weight.svg" class="img size">
                        <span class="diagonal weight"><%= pizza.small_size.weight%></span>

                    </div>
                    <h2><%= pizza.small_size.price%>
                        <div style="font-size: 15px">грн.</div>
                    </h2>
                    <div type="button" class="btn btn-warning buy-small">Купити</div>
                </div>
                <%} else{ %>
                <div class="col-sm-12 col-md-12 col-xs-12 big-pizza" >
                    <div>
                        <img src="assets/images/size-icon.svg" class="img size">
                        <span class="diagonal"><%= pizza.big_size.size%></span>
                    </div>
                    <div>
                        <img src="assets/images/weight.svg" class="img size">
                        <span class="diagonal weight"><%= pizza.big_size.weight%></span>

                    </div>
                    <h2><%= pizza.big_size.price%>
                        <div style="font-size: 15px">грн.</div>
                    </h2>
                    <div type="button" class="btn btn-warning buy-big">Купити</div>
                </div>
                <% } %>
            </div>

        </div>

        <!-- Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір -->

    </div>
</div>




